<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/styles.css" />
    <title>Genome Sequence Visualizer</title>
  </head>
  <body>
    <div class="splash">
      <h1>Genomie</h1>
      <img src="../static/assets/splash-background.jpg">
    </div>
    <div class="hipsterCircleBackground">
      <div class="hipsterCircles">
        <img src="../static/assets/hipDNA.png">
        <img src="../static/assets/hipDNA.png">
        <img src="../static/assets/hipDNA.png">
      </div>
    </div>
    <div class="loginFooter">
      <input class="login-btn" type="button" value="Log in with 23andMe" onclick="location.href='{{ auth_url }}'" />
    </div>
  </body>
</html>